# --- GLOBAL ---
PROJECT_NAME=lnm3
DOMAIN=localhost
DOCKER=true

# --- DATABASE (Postgres) ---
DB_HOST=database
DB_NAME=lnm3_database
DB_ADMIN=maintenance
DB_ADMIN_PASSWORD=maintenance
DB_USER=db_user
DB_USER_PASSWORD=db_user
DB_REMOTE_BACKUP_BUCKET=UselessInDev  # See infrastructure/database/backup.sh

# --- MIGRATOR (dbmate) ---
MIGRATOR_MIGRATIONS_DIR=./migrations

# --- PLATFORM (Elixir/Phoenix) ---
PLATFORM_ENV=dev
PLATFORM_SECRET_KEY_BASE=ChangeMeWith_mix_phx.gen.secret
PLATFORM_PHX_SERVER=true
PLATFORM_PHX_HOST=localhost
PLATFORM_PORT=4000
PLATFORM_CORS_ORIGINS=http://localhost,http://www.localhost,http://localhost:3000

# --- ARCHIVE (PHP/Symfony) ---
ARCHIVE_ENV=dev
ARCHIVE_SECRET=ChangeMe

# --- FRONTEND (Bun/Nuxt) ---
FRONTEND_ENV=development
FRONTEND_PUBLIC_PLATFORM_URL=http://platform.localhost
FRONTEND_PUBLIC_ARCHIVE_URL=http://archive.localhost
FRONTEND_PLATFORM_URL_INTERNAL=http://platform:4000
FRONTEND_ARCHIVE_URL_INTERNAL=http://archive:9000
