services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lnm3_nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - frontend
      - platform
      - archive
